@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <img src="images/lemontree.png" />
=======
    <h1 class="display-4">Welcome @ViewBag.Sensor</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 020559a1bf0467b5c95ffc0a5e52d52a050948b9
</div>
